---
// src/pages/view/[id].astro
import BaseLayout from '@layouts/BaseLayout.astro';
import Prose from "@components/common/Prose.astro";
import ChartView from "@components/layout/ChartView.astro"
import { TextToSpeechCtrl } from "@/components/react/TextToSpeechCtrl";
import {
  getBuildDirList,
  getDetailDataWithPxSize,
  getStaticPathsByTargetId,
  getKaisetsu,
} from "@utils/s3";

export async function getStaticPaths() {
  return getStaticPathsByTargetId();
}

const { id } = Astro.params;
const data = await getDetailDataWithPxSize(id!);
const dirList = (await getBuildDirList()) || []
const currentIndex = dirList.indexOf(id)
const newerId = 0 < currentIndex ? dirList[currentIndex-1] : null
const olderId = currentIndex < dirList.length - 1 ? dirList[currentIndex+1] : null

// 解説資料読み上げ用データ
const kaisetsuTexts = await getKaisetsu(id);
---

<BaseLayout title={data.title} , description={data.released_at_j}, addPaddingBottom={true}>
  <Prose>
    <ChartView
      data={data} 
      newerId={newerId} 
      olderId={olderId} 
    />
  </Prose>

  <div
    slot="player"
    class="fixed inset-x-0 bottom-0 z-[100] bg-white border-t border-gray-200 p-4 shadow-lg"
  >
    <TextToSpeechCtrl texts={kaisetsuTexts} viewtext={true} client:load />
  </div>
</BaseLayout>

