---
function getFormattedNow() {
  const d = new Date();

  const pad = (n:number) => String(n).padStart(2, "0");

  const yyyy = d.getFullYear();
  const mm   = pad(d.getMonth() + 1);
  const dd   = pad(d.getDate());
  const hh   = pad(d.getHours());
  const mi   = pad(d.getMinutes());
  const ss   = pad(d.getSeconds());

  return `${yyyy}-${mm}-${dd} ${hh}:${mi}:${ss}`;
}

---

<footer
  class="mt-16 inline-flex items-baseline justify-between gap-x-4 pt-8 text-xs text-muted-foreground sm:text-sm"
>
  <p class="text-xs">© {new Date().getFullYear()} katonobu. All rights reserved. Build at {getFormattedNow()}</p>
</footer>
