---
// src/pages/charts/[id].astro
import BaseLayout from "@layouts/BaseLayout.astro";
import Prose from "@components/common/Prose.astro";
import Photoswipe from "@components/layout/Photoswipe.astro";
import {getBuildDirList, getDetailData} from "@utils/s3";
import { getContentsLinkUrl } from "@/utils/s3";

// 最新の14件（1日2回×7日分）を取得
export async function getStaticPaths() {
  const recentList = await getBuildDirList() as string[]
  const detail = await getDetailData(recentList[0])
  const fileNames = detail.files.map((file:any)=>(file.name.replace(/^\d{14}_/g, "").replace(/^rain_\d{14}_f00_a00_combined/g, "rain").split(".")[0]))
  return fileNames.map((fileName:string) => ({ params: {id:`${recentList[0]}-${fileName}`} }))
}

const { id } = Astro.params as { id: string };
const fileName = id.split("-")[1]
const recentList = await getBuildDirList() as string[]
const details: Record<string, any> = {};
for (const dir of recentList) {
    details[dir] = await getDetailData(dir)
}
const targetDetails: any[] = []
for (const dir of recentList) {
  for (const file of details[dir].files) {
    if (file.name.includes(fileName)) {
      file.when = dir
      file.whenStr = `${dir.slice(0,4)}年${dir.slice(4,6)}月${dir.slice(6,8)}日 ${dir.slice(9,11)}時${dir.slice(11,13)}分 発表`
      targetDetails.push(file)
    }
  }
}
const title = targetDetails[0].title.replace(/\(\d{10}\)/g, "")
const CONTENTS_LINK_URL = getContentsLinkUrl()

---

<BaseLayout title={title} , description={id}, addPaddingBottom={false}>
  <Prose>
    <h1 id="top">{title}</h1>
    <Photoswipe>
        <div>
            {
                targetDetails.map((detail: any) => (
                    <section id={detail.when}>
                        <a
                            href={`${CONTENTS_LINK_URL}/${detail.when}/${detail.name}`}
                            class="flex items-center gap-[6px] no-underline"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <h2 class="mt-[40px] mb-[20px] leading-[1.3]">
                                {detail.whenStr}
                            </h2>
                            <svg
                                aria-hidden="true"
                                height="16"
                                viewBox="0 0 16 16"
                                version="1.1"
                                width="16"
                                data-view-component="true"
                                class="block mt-[40px] mb-[20px]"
                            >
                                <path d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2Zm6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03 9.28 7.78a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l3.75-3.75-1.543-1.543A.25.25 0 0 1 10.604 1Z" />
                            </svg>
                        </a>

                        <div class="w-full overflow-x-auto bg-white border border-gray-100">
                            <a
                                href={`${CONTENTS_LINK_URL}/${detail.when}/${detail.name}`}
                                class="pswp-link"
                                data-pswp-src={`${CONTENTS_LINK_URL}/${detail.when}/${detail.name}`}
                                data-pswp-width={detail.width}
                                data-pswp-height={detail.height}
                            >
                                <img
                                    src={`${CONTENTS_LINK_URL}/${detail.when}/${detail.name}`}
                                    alt={detail.whenStr}
                                    style={`aspect-ratio: ${detail.width} / ${detail.height};`}
                                    class="block w-full"
                                    loading="lazy"
                                />
                            </a>
                        </div>

                        <a href="#top">ページの先頭へ</a>
                    </section>
                ))
            }
        </div>
    </Photoswipe>
  </Prose>
</BaseLayout>

