---
// src/pages/details/[id].astro
import BaseLayout from '@layouts/BaseLayout.astro';
import Prose from "@components/common/Prose.astro"
import { getDetailData, getStaticPathsByTargetId } from '@utils/s3';

export async function getStaticPaths() {
  return getStaticPathsByTargetId()
}

const { id } = Astro.params;
const data = await getDetailData(id!);
---

<BaseLayout title={"詳細情報"}, description={data.title}>
  <Prose>
  <h1>{data.title} の加工元データ詳細</h1>
  <p><strong>発表日時:</strong> {data.released_at_j}</p>

  <div>
    {data.files.map((file: any) => (
      <section class="m-4 p-4 border border-gray-100 rounded-lg">
        <h2 class="text-lg border-b border-gray-200 pb-2 mt-3">{file.title}</h2>
        <ul class="list-none pl-0">
        <li class="mb-2"><strong>ダウンロード時刻(UTC):</strong> {file.download_at}</li>
        <li class="mb-2">
          <strong>ダウンロード元URL:</strong>
          <ul  class="list-none pl-0">
          {file.urls.map((url:string) => (
            <li class="mb-2"><a href={url} target="_blank" rel="noopener noreferrer">{url}</a></li>
          ))}
          </ul>
        </li>
        <li class="mb-2"><strong>ファイル形式:</strong> {file.output}</li>
        <li class="mb-2"><strong>ファイルサイズ:</strong> {(file.size / 1024).toFixed(2)} KB</li>
        </ul>
      </section>
      <a href={`/view/${data.id}`}>← 天気図ページに戻る</a>
    ))}
  </div>
  </Prose>
</BaseLayout>
